@import "../abstracts/mixins";
@import "../abstracts/variables";

header {
  .navbar-section {
    nav {
      height: 110px;
      .navbar-brand {
        margin-right: 40px;
      }
      ul {
        gap: 15px;
        .nav-item {
          .nav-link {
            @include text_info;
            color: $black-color;
          }
        }
      }
      .collapse {
        .navbar__contact__box {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 25px;
          img {
            width: 38px;
          }
          .navbar__contact__numbers {
            .navbar__contact__number {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

// responsive styles

@media (max-width: 1400px) {
  header {
    nav {
      height: 110px;
      .navbar-brand {
        margin-right: 50px;
      }
      ul {
        gap: 15px;
        .nav-item {
          .nav-link {
            @include text_info(600, 18px);
            color: $black-color;
          }
        }
      }
      .collapse {
        .navbar__contact__box {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 25px;
          img {
            width: 38px;
          }
          .navbar__contact__numbers {
            .navbar__contact__number {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
