$dark: #333;
$light: #f4f4f4;
$green: #085B53;



$sm-screen: 576px;
$m-screen: 768px;
$l-screen: 992px;
$el-screen: 1200px;



@mixin flex($justify:center, $align:center, $gap:10px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
// ---------------------------------------------------
@mixin grid($columns: 2, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}
// @include grid($gap=20px);
// grid-template-columns: 1fr 2fr 3fr;

