@use "_resets.scss";
@import '_settings.scss';



header {
    nav {
        @include flex(space-between);
        background-color: $dark;

        a {
            display: inline-block;
            padding: 10px 20px;
            color: $light;

            @extend %button;

            &:hover {
                cursor: pointer;
                color: green;
            }
        }
    }
}
